* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.6px; }

.search-wrapper {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: .25rem; }

.search {
  align-content: center; }

input {
  font-size: 1rem; }

body {
  background: mediumseagreen; }
  body .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
  body .playerInfo {
    cursor: pointer;
    display: flex;
    background: white;
    flex-direction: column;
    min-width: 250px;
    max-width: 325px;
    text-align: center;
    min-height: 325px;
    border-radius: 1rem;
    margin: 1.5rem;
    transition: 0.3s; }
    body .playerInfo:hover {
      transform: scale(1.1); }
    body .playerInfo .cardText {
      margin: 0.5rem; }
    body .playerInfo .skillDesc {
      font-size: larger;
      opacity: 0.8; }
    body .playerInfo .pfName {
      color: #4287f5; }

.hide {
  display: none; }
